
h2, h3 {
  font-family: 'Libre Barcode 128 Text', cursive;
}

body {
background-color: #000;
  
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

}

body {
  background-color: #000;
}

#orb {
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    z-index: -1;
}

#orbContain {
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  margin: auto;
  transition: all 2s;
  z-index: -1;
}

.scaled {
  transform: scale(2); /* Equal to scaleX(2) scaleY(0.5) */
  
}
.spinning {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

#heroPage {
  display: flex;
  flex-direction: column;
}

#narutoIntro {
  position: fixed;
  justify-content: center;
  display: block;
  padding: 10px;
  top: 150px;
  margin: auto;
  width: 20%;

}

#callOut {
  border: 1px black;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  background-color: #c183c76c;
  margin-top: 10px;
  padding: 10px 5px 10px;
}

#bodyP {
  border: 1px black;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: #a683c76c;
}

#picSection {
  border: 1px black;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: #7773afb0;
}





#stat {
  color: white;
}

  
  
  .animated-search-form[type=search]:focus {
    width: 100%;
  } 

  #index-search-button {
    background-color: rgb(125, 104, 248);
  }







  .disp {
    display: flex;
  
    }
  
  #hero-search-button {
    margin: auto;
    margin-top: -1px;
    background-color:  rgb(125, 104, 248);
    padding: 9px; 
    border: 1px dotted black;
  
  }

 #hero-container {
  padding: 10px;
  margin-top: 20px;

} 
  
.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("/assets/images/blackBG.jpg") center center no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-size: cover;
  }
  
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
  }


  /*index search section  */
.animated-search-form[type=search] {
  width: 10rem;
  border: 0.125rem solid #e6e6e6;
  box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
  border-radius: 0;
  background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
}

.animated-search-form[type=search]:focus {
  width: 100%;
}

.disp {
  display: flex;
  }

#index-search-button {
  margin: 0 0rem 1rem 0;
}



hr {
  border-color: #05576280;
  border: 60px
}
  
  
  

  
  
  
  