/* html {
  background-image: url("../images/ian-valerio-CAFq0pv9HjY-unsplash.jpg");
  margin-bottom: 70px;
  height: 100%;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
}  */

body {
  background-image: url("../images/ian-valerio-CAFq0pv9HjY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

}

#heroPage {
  display: flex;
  flex-direction: column;
}

#narutoIntro {
  position: fixed;
  justify-content: center;
  display: block;
  padding: 10px;
  top: 150px;

}

#callOut {
  border: 1px dotted black;
  width: 80%;
  margin: auto;
  background-color: #05576280;
  margin-top: 10px;
}

#bodyP {
  border: 1px dotted black;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: #055762b0;
}

#picSection {
  border: 1px dotted black;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: #055762b0;
}

#numSection {
  background-color: #055762b0;
}

#stat {
  color: white;
}

.animated-search-form[type=search] {
    width: 50;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
  }
  
  
  .animated-search-form[type=search]:focus {
    width: 100%;
  } */


#hero-container {
  padding: 100px;
  margin-top: 200px;

}
  
.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("../images/moujib-aghrout-s9ESRUFnKDg-unsplash.jpg") center center no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-size: cover;
  }
  
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
  }

  
  
  
  /* .hero-full-screen .top-content-section {
    width: 100%;
  } */
  
  /* .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  } */
  
  /* .hero-full-screen .top-bar {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu-text {
    color: #fefefe;
  }
  
  .hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-full-screen .top-bar .menu a {
    color: #fefefe;
    font-weight: bold;
  } */
  
  
  
  